{% extends 'base.html' %}
{% block content %}

<h1>Rock Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ rock.name }}</span>
        <p>Type: {{ rock.type }}</p>
        <p>Description: {{ rock.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'rocks_update' rock.id %}">Edit</a>
        <a href="{% url 'rocks_delete' rock.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_observation' rock.id %}" method="POST">
        {% csrf_token %}
        {{ observation_form.as_p }}
        <input type="submit" class="btn" value="Add an Observation">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Observation</th></tr>
      </thead>
      <tbody>
        {% for observation in rock.observation_set.all %}
          <tr>
            <td>{{observation.date}}</td>
            <td>{{observation.observation}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- This is all new markup to be added just above the <script> tag -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ rock.name }}'s Minerals</h3>
      {% if rock.minerals.count %}
        {% for m in rock.minerals.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ m.name }}
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Minerals</h5>
      {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
      <h3>Available Minerals</h3>
      {% if minerals.count %}
        {% for m in minerals.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ m.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_mineral' rock.id m.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{rock.name}} Already Has Complete Mineralogical Makeup</h5>
      {% endif %}
    </div>
  </div>
  

<script>

	const dateEl = document.querySelector('#id_date');
	M.Datepicker.init(dateEl, {
		format: 'yyyy-mm-dd', // this how django formats the date in the model
		defaultDate: new Date(),
		setDefaultDate: true, 
		autoClose: true
	})
</script>

{% endblock %}
